.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90vh;
    border: 10px solid #000000;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: end;
    column-gap: 1em;
    row-gap: 1em;

}
.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    align-self: center;
    order: 1;
    
}
#box2{
    background-color: rgb(250, 250, 58);
}
#box3{
    background-color: green;
}
#box4{
    background-color: lightblue;
}