

body {
    font-family: sans-serif;
    margin: 0px
}

main{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 34%);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 11%);
}
.navbar li{
    float: left;
}

.odd{
    color: red;
}

#h4_1{
    color: blue;
}