.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full viewport height */
    width: 100vw;  /* full viewport width */
  }
  
  .landing {
    display: grid;
    height: 50vh;
    width: 50vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
      "nav nav nav nav"
      "sidebar main main main"
      "sidebar content-1 content-2 content-3"
      "footer footer footer footer";
    gap: 0.2rem;
  }
  
.landing{
    display: grid;
    height: 50vh;
    width: 50vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    "nav nav nav nav "
    "sidebar main main main"
    "sidebar content-1 content-2 content-3"
    "footer footer footer footer";
    gap: .2rem;
}

.landing > *:nth-child(3n + 1) {
    background-color: lightcoral; /* First in group */
}

.landing > *:nth-child(3n + 2) {
    background-color: lightseagreen; /* Second in group */
}

.landing > *:nth-child(3n + 3) {
    background-color: lightgoldenrodyellow; /* Third in group */
}
header{
    grid-area: nav;
}
#main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
#content-1{
    grid-area: content-1;
}
#content-2{
    grid-area: content-2;
}
#content-3{
    grid-area: content-3;
}
.footer{
    grid-area: footer;
}

@media screen and (max-width:550px) {
    .landing{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content-1"
        "content-2"
        "content-3"
        "footer"
        ;
    }
}