*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.landing{
    background-image: url("assets/images/background.png");
    background-size: cover;
    height: 100%;
}
.container{
    padding: 10px 10%;
}
.landing nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}
.landing ul{
    list-style: none;
}
.landing li{
    display: inline-block;
}
.landing a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-left: 20px;
}
.landing-text{
    margin-top: 20%;
}
.landing-text p{
    font-size: 22px;
}
.landing-text h1{
    font-size: 60px;
}
.landing-text span{
    color: red;
}
/* ========About========= */
.about{
    margin: 4% 0;
}
.about .row{
    display: flex;
    justify-content: space-between;
}
.column-1{
    flex-basis: 35%;
}
.column-1 img{
    width: 100%;
}
.column-2{
    flex-basis: 60%;
}
.column-2 > *{
    margin-top: 20px;
}
.tab-titles{
    display: flex;
}
.tab-titles p{
    margin-right: 20px;
}