* {
    box-sizing: border-box;
    margin: 0px;
}
.navoptions a{
    text-decoration: none;
    color: grey;
    font-size: 20;
}
.navbar{
    background-color: white;
    height: 8%;
    border-bottom: 5px solid black;
}
.navrow{
    padding: 20px 80px 20px 50px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.bennylogo a{
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    color: grey;
}
.navoptions li{
    display: inline-block;
    margin-left: 100px;
}
main{
    background-color: hsl(0, 1%, 72%);
    height: 92%;
}